.btn-dark:hover {
  background-color: #154b67 !important; /* Your custom hover background color */
  border-color: #4a4a4a !important; /* Optional: Match border color */
  color: #ffffff !important; /* Optional: Adjust text color */
}

/* body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 33%,
    rgba(2, 41, 59, 1) 100%
  );
} */
